.nav{
    text-align: center;
    border: 2px solid black;
    height: 100px;
    width: 100%;
    background: linear-gradient(pink,skyblue);
}
.head1{
    color: cyan;
transition: first 3s ease, opacity 3s ease;
}
.head1:hover{
   
         transform: translateY(8px) 
         ;
         opacity: 1;

}


/* Sufiyan work */

.footer{
     border: 2px solid red;
    height: 100px;
    width: 100%;
    background: linear-gradient(black,skyblue)
}