.nav{
    border: 2px solid black;
    height: 100px;
    width: 100%;
    background: linear-gradient(pink,skyblue);
}
.head1{
    color: cyan;
}
.footer{
     border: 2px solid red;
    height: 100px;
    width: 100%;
    background: linear-gradient(black,skyblue);
}